[gcode_macro _SET_Z_CURRENT]
variable_last_val: 'RUN'
gcode:
  # set default parameter value
  {% set val = params.VAL|default('RUN') %}
  {% if val == 'HOME' %}
    {% set z_run   = 0.6 %}
    {% set z_hold  = 0.6 %}
    {% set x_run   = 0.40 %}
    {% set x_hold  = 1 %}
    {% set y_run   = 0.40 %}
    {% set y_hold  = 1 %}
  {% else %}
    {% set z_run   = printer.configfile.settings["tmc2208 stepper_z"]["run_current"] %}
    {% set z_hold  = printer.configfile.settings["tmc2208 stepper_z"]["hold_current"] %}
    {% set x_run   = printer.configfile.settings["tmc2130 stepper_x"]["run_current"] %}
    {% set x_hold  = printer.configfile.settings["tmc2130 stepper_x"]["hold_current"] %}
    {% set y_run   = printer.configfile.settings["tmc2130 stepper_y"]["run_current"] %}
    {% set y_hold  = printer.configfile.settings["tmc2130 stepper_y"]["hold_current"] %}
  {% endif %}
  {% if val != printer["gcode_macro _SET_Z_CURRENT"].last_val  %}
    SET_GCODE_VARIABLE MACRO=_SET_Z_CURRENT VARIABLE=last_val VALUE='"{val}"'
    {action_respond_info("Home&Probe: RunCur %.2fA rms HoldCur %.2fA rms" % (z_run|float, z_hold|float))}
    SET_TMC_CURRENT STEPPER=stepper_z  CURRENT={z_run} HOLDCURRENT={z_hold}
    SET_TMC_CURRENT STEPPER=stepper_z1 CURRENT={z_run} HOLDCURRENT={z_hold}
    SET_TMC_CURRENT STEPPER=stepper_z2  CURRENT={z_run} HOLDCURRENT={z_hold}
    SET_TMC_CURRENT STEPPER=stepper_z3 CURRENT={z_run} HOLDCURRENT={z_hold}
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={x_run} HOLDCURRENT={x_hold}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={y_run} HOLDCURRENT={y_hold}
    M400
  {% endif %}

[gcode_macro _SET_XY_CURRENT]
variable_last_val: 'RUN'
gcode:
  # set default parameter value
  {% set val = params.VAL|default('RUN') %}
  {% if val == 'HOME' %}
    {% set x_run   = 0.45 %}
    {% set x_hold  = 0.8 %}
    {% set y_run   = 0.45 %}
    {% set y_hold  = 0.8 %}
  {% else %}
    {% set x_run   = printer.configfile.settings["tmc2130 stepper_x"]["run_current"] %}
    {% set x_hold  = printer.configfile.settings["tmc2130 stepper_x"]["hold_current"] %}
    {% set y_run   = printer.configfile.settings["tmc2130 stepper_y"]["run_current"] %}
    {% set y_hold  = printer.configfile.settings["tmc2130 stepper_y"]["hold_current"] %}
  {% endif %}
  {% if val != printer["gcode_macro _SET_XY_CURRENT"].last_val  %}
    SET_GCODE_VARIABLE MACRO=_SET_XY_CURRENT VARIABLE=last_val VALUE='"{val}"'
    {action_respond_info("Home&Probe: RunCur %.2fA rms HoldCur %.2fA rms" % (x_run|float, x_hold|float))}
    {action_respond_info("Home&Probe: RunCur %.2fA rms HoldCur %.2fA rms" % (y_run|float, y_hold|float))}
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={x_run} HOLDCURRENT={x_hold}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={y_run} HOLDCURRENT={y_hold}
    M400
  {% endif %}