# [thermistor  HT-NTC100K]
# temperature1: 25
# resistance1: 101000
# temperature2: 200
# resistance2: 427.956
# temperature3: 280
# resistance3: 99.925

[thermistor HT-NTC100K]
temperature1: 25.0 
resistance1: 100000.0 
beta: 3950

[thermistor T_D500]
temperature1: 170
resistance1: 15990
temperature2: 200
resistance2: 7450
temperature3: 350
resistance3: 477

##	Connected to MOTOR_2 (Extruder motor)
[extruder]
step_pin: PF11
dir_pin: PG3
enable_pin: !PG5
# step_pin: P2.13
# dir_pin: P0.11
# enable_pin: !P2.12
microsteps: 32
full_steps_per_rotation: 200
gear_ratio: 50:17
rotation_distance: 22.54
nozzle_diameter: 0.400
filament_diameter: 1.750
min_extrude_temp: 170
#pressure_advance: 0.2
max_extrude_only_distance: 1150
max_extrude_only_velocity: 100
max_extrude_only_accel: 10000
max_extrude_cross_section: 9999
heater_pin: PA2
sensor_type: T_D500
pullup_resistor: 4700
sensor_pin: PF4
# control: pid
# pid_Kp: 22.2
# pid_Ki: 1.08
# pid_Kd: 114
min_temp: 0
max_temp: 325

########################################
# Extruder TMC2130 configuration
########################################
[tmc2208 extruder]
uart_pin: PC6
run_current: 0.5
hold_current: 0.40
stealthchop_threshold: 0
sense_resistor: 0.110
interpolate: False

# [thermistor Trianglelab NTC100K B3950]
# ## values calibrated against a PT100 reference
# temperature1: 25.0
# resistance1: 103180.0
# temperature2: 150.0
# resistance2: 1366.2
# temperature3: 250.0
# resistance3: 168.6
