########################################
# Fans configuration
########################################

# [thermistor  TTF-103]
# temperature1: 20
# resistance1: 12401
# temperature2: 40
# resistance2: 5347
# temperature3: 80
# resistance3: 1257

[thermistor TTF-103]
temperature1: 25.0 
resistance1: 10000.0 
beta: 3950

[fan]
##	Print Cooling Fan - FAN1
pin: PE5
kick_start_time: 0.5
##	Depending on your fan, you may need to increase this value
##	if your fan will not start. Can change cycle_time (increase)
##	if your fan is not able to slow down effectively
off_below: 0.10

[heater_fan chamber]
pin: !PB0
max_power: 1.0
heater: chamber
heater_temp: 50.0

[temperature_fan TMC]
pin: PD14
hardware_pwm: false
max_power: 1.0
shutdown_speed: 1
kick_start_time: 5.0
cycle_time:0.01
off_below:0.3
sensor_type: TTF-103
sensor_pin: PF7
pullup_resistor: 4700
min_temp: 0
max_temp: 100
max_speed: 1.0
min_speed: 0.4
target_temp: 35
control: pid
pid_Kp: 22.2
pid_Ki: 1.08
pid_Kd: 114
gcode_id: T

[heater_fan hotend_fan]
##	Hotend Fan - FAN0
pin: PA8
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
##	If you are experiencing back flow, you can reduce fan_speed
#fan_speed: 1.0

[controller_fan case]
pin: PD13
idle_speed: 0.0
heater: chamber
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 5.0
cycle_time: 0.01

[temperature_fan case_cooler]
pin: PD12
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 5.0
cycle_time:0.01
off_below:0.1
sensor_type: TTF-103
pullup_resistor: 4700
sensor_pin: PF6
min_temp: 0
max_temp: 80
target_temp: 50
max_speed: 1.0
min_speed: 0.0
control: watermark
gcode_id: V

# [temperature_fan motor_cooler]
# pin: auxboard: P2.4
# max_power: 1.0
# hardware_pwm: false
# shutdown_speed: 1
# kick_start_time: 5.0
# cycle_time:0.01
# off_below:0.1
# sensor_type: TTF-103
# sensor_pin: auxboard: P0.24
# pullup_resistor: 4700
# min_temp: 0
# max_temp: 80
# target_temp: 45
# max_speed: 0.9
# min_speed: 0.0
# control: pid
# pid_Kp: 22.2
# pid_Ki: 1.08
# pid_Kd: 114
# gcode_id: M

