# [thermistor  HT-NTC100K]
# temperature1: 25
# resistance1: 101000
# temperature2: 200
# resistance2: 427.956
# temperature3: 280
# resistance3: 99.925

[thermistor Trianglelab NTC100K B3950]
## values calibrated against a PT100 reference
temperature1: 25.0
resistance1: 103180.0
temperature2: 150.0
resistance2: 1366.2
temperature3: 250.0
resistance3: 168.6

[thermistor HT-NTC100K]
temperature1: 25.0 
resistance1: 100000.0 
beta: 3950

[thermistor T-D500]
temperature1: 20
resistance1: 3649000
temperature2: 200
resistance2: 8000
temperature3: 300
resistance3: 1092

[thermistor T_D500]
temperature1: 170
resistance1: 15990
temperature2: 200
resistance2: 7450
temperature3: 350
resistance3: 477

#####################################################################
# 	Filament configurations
#####################################################################

#  SET_RETRACTION [RETRACT_LENGTH=<mm>] [RETRACT_SPEED=<mm/s>] [UNRETRACT_EXTRA_LENGTH=<mm>] [UNRETRACT_SPEED=<mm/s>]
#  SET_RETRACTION is commonly set as part of slicer per-filament configuration, as different filaments require different
#  parameter settings.
#  GET_RETRACTION Queries the current parameters used by firmware retraction and displays them on 
[firmware_retraction]
retract_length: 0.35            # 0.9, 0.65, 0.55
retract_speed: 70 
unretract_extra_length: 0.0     
unretract_speed: 70

##	Connected to MOTOR_2 (Extruder motor)
[extruder]
step_pin: PF11
dir_pin: PG3
enable_pin: !PG5
# step_pin: P2.13
# dir_pin: P0.11
# enable_pin: !P2.12
microsteps: 32
full_steps_per_rotation: 200
gear_ratio: 50:17
rotation_distance: 22.788
nozzle_diameter: 0.400
filament_diameter: 1.750
min_extrude_temp: 170
pressure_advance: 0.2
max_extrude_only_distance: 1150
max_extrude_only_velocity: 100
max_extrude_only_accel: 10000
max_extrude_cross_section: 9999
heater_pin: PA2
sensor_type: Trianglelab NTC100K B3950
#pullup_resistor: 4700
sensor_pin: PF4
# control: pid
# pid_Kp: 22.2
# pid_Ki: 1.08
# pid_Kd: 114
min_temp: 0
max_temp: 325

########################################
# Extruder TMC2130 configuration
########################################
[tmc2208 extruder]
uart_pin: PC6
run_current: 0.53
hold_current: 0.35
stealthchop_threshold: 0
sense_resistor: 0.110
interpolate: False

# [thermistor Trianglelab NTC100K B3950]
# ## values calibrated against a PT100 reference
# temperature1: 25.0
# resistance1: 103180.0
# temperature2: 150.0
# resistance2: 1366.2
# temperature3: 250.0
# resistance3: 168.6
